:root {
    --main-color: #80172B;
    --dark-gray: #1e1e1e;
    --teal: #10797A;
    --light-gray: #C6C6C6;
    --border-color: var(--dark-gray);
    --subtitle-color: var(--dark-gray);
}


body {
    background-color: var(--dark-gray);
    overflow-x: hidden;
    font-family: 'Segoe UI', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    color: var(--dark-gray);
}

a { 
    color: var(--dark-gray);
    font-size: 12px;
    font-weight: 800;
    margin-left: 4px;  
    transition: 0.2s ease-in-out all;
}

a:hover { 
    color: var(--main-color);
}

.l-spacing-2 {
    letter-spacing: 0.28px;
}

.line {
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}


.img-center{
    text-align: center;
}

.main-btn {
    overflow: hidden;
    background-color: var(--main-color);
    border: none;
    color: white;
}

.main-btn .btn-hover {
    transition: 0.4s ease-in all;
    position: absolute;
    width: 0;
    height: 100%;
    border-radius: 40px;
    background-color: transparent;
}

.main-btn:hover .btn-hover {
    width: 140%;
    background-color: #ffffff2c;
}

.main-btn p {
    z-index: 10;
    font-weight: 700;
}

.main-block.login {
    overflow-x: hidden;
    min-height: 532px;
}

.login-box {
    background-color:var(--light-gray);
    width: 350px;
    height: fit-content;
    box-shadow: 0px 0px 20px #c6c6c6cc;
}

.login-box p {
    font-weight: 400;
    font-size: 14px;
}

.login-box h4 {
    font-weight: 600;
}

.login-box input,
.login-box button {
    height: 36px;
}

.login-box input {
    color: var(--dark-gray);
    background-color: #ffffff;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-shadow: none;
}

.login-box .subtitle,
.login-box .info-subtitle {
    color: var(--dark-gray);
    font-family: "Poppins", sans-serif;
}

.login-box .info-link {
    font-size: 10px;
}

.form-control:focus {
    color: var(--dark-gray);
    background-color: #ffffff;
    border-color: var(--teal);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(16, 121, 122, 0.25);
}

.password-icon.fa-eye,
.password-icon.fa-eye-slash {
    position: absolute;
    right: 8px;
    bottom: 10px;
    color: var(--dark-gray);
    cursor: pointer;
}

  
  input.form-control {
    padding: 10px 15px;
    border-radius: 12px;
    border: none;
    outline: none;
  }
  
  input:focus {
    outline: 2px solid #7e0c1b;
  }
  
  button.btn {
    padding: 10px;
    border-radius: 12px;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  button.btn:hover {
    background-color: #5a0914;
  }
  

@media screen and (max-width: 390px) {
    .login-box {
        width: calc(100vw - 40px);
    }
}
